fieldset { 
margin: auto;
width: 900px; 
height:670px;
border: solid   3px; 
background-color: #FBF8EF; 
padding: 20px; 
} 
body {
  width:100%; 
  margin:auto; 
  min-height:650px;
  min-width:1000px;
  font-family: Arial;
}
input:focus {
  border: 1px solid #000;
  background: ;
}
#contenedor1{
	padding:20px;

}
#picture1 {

		float:left;
		margin-left: 50px;
	}
#picture2 {

		float:left;
		margin-left: 20px;
	}	
#contenedor2{
	padding:20px;
}
#picture3 {
  
		float:left;
		margin-left: 150px;
	
	}
#picture4 {
         
		float:left;
		margin-left: 50px;
	}

	#contenedor3{
	padding:20px;
}
#picture5 {
     
		float:left;
		margin-left: 100px;
	
	}
#picture6 {
      
		float:left;
		margin-left: 50px;
	}
#contenedor4{
	padding:20px;
}
#picture7 {
    
		float:left;
		margin-left: 100px;
	
	}
#picture8 {
      
		float:left;
		margin-left: 50px;
	}
	#contenedor5{
	padding:20px;
}
#picture9 {
   
		float:left;
		margin-left: 250px;
	
	}
#picture10 {
   
		float:left;
		margin-left: 50px;
	}
		#contenedor6{
	padding:20px;
}
#picture11 {
    
		float:left;
		margin-left: 250px;
	
	}
#picture12 {
   
		float:left;
		margin-left: 50px;
	}
		#contenedor7{
	padding:20px;
}
#picture13 {
   
		float:left;
		margin-left: 250px;
		
	
	}
#picture14 {
   
		float:left;
		margin-left: 50px;
	}
	#contenedor8{
	padding:20px;
}
#picture15{
  
		float:left;
		margin-left: 300px;
	
	}
#picture16 {
   
		float:left;
		margin-left: 50px;
	}
	#contenedor9{
	padding:20px;
	 
}
#picture17{
 
		float:left;
		margin-left: 20px;
		 
	
	}
#picture18 {
  
		float:left;
		margin-left: 20px;
		 
	}
#contenedor10{
	padding:20px;
	 
}
#picture19{
		float:left;
		margin-left: 100px;
	
	}
	#contenedor11{
	padding:20px;

	 
}
#picture20{
 
		float:left;
		margin-left: 200px;
		 
	
	}
#picture21 {
  
		float:left;
		margin-left: 50px;
		 
	}
	#contenedor12{
	padding:20px;
	 
}
#picture22{
 
		float:left;
		 margin-left: 50px;
	
	}
	#contenedor13{
	padding:20px;

	 
}
#picture23{
 
		float:left;
		 margin-left: 250px;
	
	}
#picture24 {
  
		float:left;
		
		 margin-left: 50px;
	}

	#contenedor14{
	padding:20px;

	 
}
#picture25{
 
		float:left;
		 margin-left: 200px;
	
	}
#picture26 {
  
		float:left;
		
		 margin-left: 50px;
	}
	#picture27{
    	float:left;
        font-weight: normal;
		font-size:0.8em;
		color: #DF3A01;

	}
.button1{
	background: #DF3A01;
	color:#FFFFFF;
	display:inline-block;
	font-size:1.20em;
	margin: 10px;
	padding:10px 0px;
	text-align: center;
	width:200px;
	text-decoration:none;
	}
.button2{
	background: #DF3A01;
	color:#FFFFFF;
	display:inline-block;
	font-size:1em;
	margin: 10px;
	padding:10px 0px;
	text-align: center;
	width:200px;
	text-decoration:none;
	}
.formulario7  input[type="radio"],
.formulario7  input[type="checkbox"]{
	display:none;
	
}
.formulario7 .radio label,
.formulario7 .checkbox label {
	color:#DF3A01;
	padding:5px 15px 5px 30px;
	display: inline-block;
	position: relative;
	font-size: 1em;
	border-radius: 3px;
	cursor: pointer;
	  -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
.formulario7 .radio label:hover,
.formulario7.checkbox label:hover{
	background: rgba(219, 139, 41, 0.8);
	
} 
.formulario7 .radio label:before,
.formulario7 .checkbox label:before{
	content: "";
	width:10px;
	height:10px;
	display: inline-block;
	background:  none;
	border: 3px solid #DF3A01;
	border-radius: 50%;
	position: absolute;
	left:10px;
	top:5px;
	
}
.formulario7 .checkbox label:before{
	border-radius: 3px;
}
.formulario7  input[type="radio"]:checked + label,
.formulario7  input[type="checkbox"]:checked + label{
	padding:5px 15px;
	background: #DF3A01;
	border-radius: 2px;
	color:#fff;
}
.formulario7  input[type="radio"]:checked + label:before,
.formulario7  input[type="checkbox"]:checked + label:before{
	display:none;
	
}
